body {
    background-color: #fafafa;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
#header {
    background-color: #ffffff;
    height: 60px;
}
.portfolio{
    margin-left: 30px;
    position: absolute;
    font-size: larger;
}
.buttons{
    text-align: end;
    position: relative;
    padding: 19px;
    font-size: larger;
}
.home {
    color: rgb(5, 87, 187);
    text-decoration: none;
    margin-right: 35px;
    height: 60px;
    width: 80px;
}
.about {
    color: rgb(44, 139, 255);
    text-decoration: none;
    margin-right: 35px;
    height: 60px;
    width: 80px;
}
.projecten {
    color: rgb(44, 139, 255);
    text-decoration: none;
    margin-right: 35px;
    height: 60px;
    width: 80px;
}
.contact {
    color: rgb(44, 139, 255);
    text-decoration: none;
    margin-right: 30px;
    height: 60px;
    width: 80px;
}
.intro {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    height: 30vh;
    width: 50vh;
    background-color: #ffffff;
    border-radius: 10px;
}
.intro img {
    margin-top: 25px;
    width: 150px;
    border-radius: 50%;
}
.intro h1 {
    font-size: 24px;
    margin-top: 10px;
}