body {
    background-color: #fafafa;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
.header {
    background-color: #ffffff;
    color: #14141e;
    height: 60px;
    overflow: auto;
}
.portfolio{
    margin-left: 30px;
    position: absolute;
    font-size: larger;
}
.buttons{
    text-align: end;
    position: relative;
    padding: 19px;
    font-size: larger;
}
.home {
    color: rgb(44, 139, 255);
    text-decoration: none;
    margin-right: 35px;
    height: 60px;
    width: 80px;
}
.about {
    color: rgb(5, 87, 187);
    text-decoration: none;
    margin-right: 35px;
    height: 60px;
    width: 80px;
}
.projecten {
    color: rgb(44, 139, 255);
    text-decoration: none;
    margin-right: 35px;
    height: 60px;
    width: 80px;
}
.contact {
    color: rgb(44, 139, 255);
    text-decoration: none;
    margin-right: 30px;
    height: 60px;
    width: 80px;
}
.titel {
    text-align: center;
    margin: 10px;
    padding: 0px;
}
.ondertitel {
    text-align: center;
    font-size: larger;
    margin: 0px;
    padding: 0px;
}